:root {
  --primary-font: "PT Mono", monospace;
  --font-color: rgb(77, 76, 76);
}

body {
  background-color: rgb(214, 250, 236);
}
#about-page {
  margin: 120px 0;
}

h1,
h2,
h3,
p,
footer,
#homepage-button {
  font-family: var(--primary-font);
  color: var(--font-color);
}
.navbar {
  background-color: rgb(170, 249, 218);
}

.navbar-brand {
  font-size: 20px;
}
.navbar-brand:hover {
  font-size: 18px;
}

#header-container {
  padding: 200px 20px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(img/background-image.jpg);
}
#header-text {
  text-align: center;
}
#header-text h1 {
  color: white;
  font-size: 90px;
}
#header-text h2 {
  color: rgb(213, 211, 211);
  font-size: 45px;
}
#homepage-about-me {
  text-align: center;
}
#homepage-about-me h2 {
  font-weight: 700;
}
#homepage-about-me p {
  line-height: 0.7cm;
}
#homepage-projects {
  text-align: center;
}
#homepage-projects h3 {
  font-weight: 700;
}
#project-img {
  display: flex;
  justify-content: space-around;
}

#homepage-contact {
  background-color: rgb(170, 249, 218);
  border-radius: 15px;
  margin: 40px 80px;
  padding: 20px 30px;
  display: flex;
  justify-content: space-between;
  text-align: left;
}
#homepage-contact h3 {
  font-weight: 700;
}
#homepage-button {
  border-radius: 28px;
  padding: 20px 10px;
  border-color: rgb(250, 75, 104);
  color: rgb(247, 81, 109);
  font-weight: 500;
}
#homepage-button:hover {
  cursor: pointer;
  background-color: rgb(247, 135, 153);
  color: white;
  border-color: rgb(250, 75, 104);
  transition: all 200ms ease-in-out;
  font-weight: bold;
  letter-spacing: 2px;
  text-transform: uppercase;
}

footer {
  font-size: small;
}

#skill-logos {
  text-align: center;
}

@media (max-width: 576px) {
  #header-text h1 {
    font-size: 70px;
  }
  #header-text h2 {
    font-size: 35px;
  }
  #homepage-about-me {
    padding: 10px;
  }
  #homepage-about-me h2 {
    font-size: 30px;
  }
  #homepage-about-me p {
    font-size: 15px;
    line-height: 0.7cm;
  }
  #homepage-contact h3 {
    font-size: 20px;
  }
  #homepage-contact p {
    font-size: 15px;
  }
  #project-img {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  #homepage-contact {
    margin: 20px 15px;
  }
}
