h1,
h2,
h3 {
  font-family: "PT Mono", monospace;
}

.header-container {
  padding: 230px 20px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(src/background-image.jpg);
}
.header-text {
  color: white;
  text-align: center;
}
.header-text h1 {
  font-size: 90px;
}
.header-text h2 {
  font-size: 45px;
}
.homepage-about {
  text-align: center;
}
.homepage-projects {
  text-align: center;
}
.homepage-contact {
  font-family: "PT Mono", monospace;
  background-color: #f9f7fe;
  border-radius: 20px;
  margin: 40px 80px;
  padding: 20px 50px;
  display: flex;
  justify-content: space-between;
}

.hp-btn {
  border-radius: 30px;
  padding: 20px;
}
.project-img {
  display: flex;
  justify-content: space-around;
}
