h1,
h2,
h3 {
  font-family: "PT Mono", monospace;
  color: black;
}
h1 {
  font-size: 80px;
  text-align: center;
}
h2 {
  font-weight: 500;
  text-align: center;
}
.info {
  padding: 230px 20px;
  background-image: url(src/background-image.jpg);
}
.homepage-about h2 {
  text-align: left;
}
.homepage-contact {
  font-family: "PT Mono", monospace;
  background-color: #f9f7fe;
  border-radius: 20px;
  margin: 40px 80px;
  padding: 20px 50px;
  display: flex;
  justify-content: space-between;
}
.hp-btn {
  border-radius: 5px;
  padding: 20px 10px;
}
